@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo {
  position: fixed;
  z-index: 3;
  top: 0px;
}
header .logo img {
  height: 70px;
  object-fit: cover;
  margin-left: 30px;
}
header nav {
  display: flex;
  background-color: black;
  justify-content: end;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 70px;
  z-index: 2;
}
header nav ul {
  display: flex;
  justify-content: end;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 25px;
  color: white;
}

.carousel-item {
  width: 100%;
  height: 360px;
  margin-top: 70px;
  height: auto;
}
.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.contenedor-tarjeta {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding-top: 30px;
}
.contenedor-tarjeta .tarjeta {
  width: 250px;
  height: 100%;
  border: solid 3px black;
  margin: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 16px 16px 30px #868686, -16px -16px 30px #ffffff;
}
.contenedor-tarjeta img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
.contenedor-tarjeta p {
  font-family: "Montserrat", sans-serif;
  color: black;
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
}
.contenedor-tarjeta a {
  text-decoration: none;
  color: black;
  width: 150px;
  height: 30px;
  border: 3px solid black;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
  background: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.contenedor-tarjeta a:hover {
  background: black;
  color: white;
  font-size: 16px;
}

main h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}
main h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 26px;
  padding-top: 20px;
}
main h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 26px;
  padding-top: 30px;
}

.contenedora-main {
  display: flex;
  align-items: center;
}
.contenedora-main .p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.contenedora-main .p1 .fa-check {
  color: black;
  font-size: 16px;
  padding-right: 10px;
}
.contenedora-main .p2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.contenedora-main img {
  height: 450px;
  object-fit: cover;
}

.contenedora-p {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  height: 100%;
  padding: 20px 0px 20px 40px;
}
.contenedora-p .tarjeta-p {
  height: 100%;
  width: 250px;
}

.boton-index {
  text-decoration: none;
  color: black;
  width: 300px;
  height: 100%;
  border: 3px solid black;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
  background: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.boton-index:hover {
  background: black;
  color: white;
  font-size: 16px;
}

.main-tcross {
  background: rgba(170, 170, 170, 0.631372549);
}
.main-tcross h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
  font-size: 30px;
  font-weight: bold;
}
.main-tcross .contenedora-t-cross {
  display: flex;
  flex-flow: wrap;
}
.main-tcross .contenedora-t-cross img {
  height: 400px;
  width: 600px;
  object-fit: cover;
  margin: 20px;
  border: 2px solid black;
  box-shadow: 16px 16px 30px #868686, -16px -16px 30px #ffffff;
}
.main-tcross .contenedora-t-cross h2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}
.main-tcross .contenedora-t-cross h3 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}
.main-tcross .contenedora-t-cross p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 20px;
}
.main-tcross .contenedora-t-cross .precio {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.main-tcross .contenedora-t-cross a {
  text-decoration: none;
  color: black;
  width: 150px;
  height: 30px;
  border: 3px solid black;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
  background: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.main-tcross .contenedora-t-cross a:hover {
  background: black;
  color: white;
  font-size: 16px;
}
.main-tcross .contenedora-galeria h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: black;
  color: white;
}
.main-tcross .contenedora-galeria div {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.main-tcross .contenedora-galeria div img {
  height: 450px;
  object-fit: cover;
  margin: 20px;
  border: 2px solid black;
  box-shadow: 16px 16px 30px #868686;
}

.contenedor-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes button {
  background-color: transparent;
  border: transparent;
  color: white;
}
.redes a {
  text-decoration: none;
  color: white;
}
.redes i {
  padding: 20px;
  font-size: 26px;
}

.desarrollador {
  display: flex;
  align-items: center;
}

.navegador .fa-bars {
  display: none;
}

@media (max-width: 992px) {
  .navegador .fa-bars {
    display: block;
    margin: 10px;
    font-size: 45px;
    color: white;
  }
  .navegador .fa-bars:hover + ul {
    right: 0;
  }
  .navegador ul {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    padding-bottom: 100%;
    background: rgba(0, 0, 0, 0.7137254902);
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: all 0.5s;
  }
  .navegador ul:hover {
    right: 0;
  }
  .navegador ul li a {
    color: white;
  }
  .navegador ul li a:hover {
    color: white;
  }
  .contenedora-main {
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
  }
  .contenedora-main .contenedora-p {
    padding-top: 20px;
    padding: 0;
  }
  .contenedora-main img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .logo {
    z-index: 5;
  }
}
@media (max-width: 768px) {
  .contenedor-footer {
    flex-direction: column;
    text-align: center;
  }
  .contenedor-footer .desarrollador {
    text-align: center;
    justify-content: center;
  }
  .contenedor-footer .desarrollador p {
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
