.navegador .fa-bars{
    display: none;
}

@media(max-width:992px){
    .navegador .fa-bars{
        display: block;
        margin: 10px;
        font-size: 45px;
        color: white;        
    }
    .navegador .fa-bars:hover + ul {
        right: 0;
    } 
    .navegador ul {
        position: fixed;
        /*top: 70px;*/
        right: -100%;
        width: 100%;
        height: 100vh;
        background: #000000b6;
        flex-direction: column;
        align-items: center;
        /*padding-top: 50px;*/
        transition: all 0.5s;
    }
    .navegador ul:hover{
        right: 0;
    }
    .navegador ul li a{
        color: white;
    }
    .navegador ul li a:hover{
        color: white;
    }
    .contenedora-main{
        flex-flow: wrap;
        text-align: center;
        justify-content: center;
        .contenedora-p{
            padding-top: 20px;
            padding: 0;
        }
        img{
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media(max-width:768px){
    .contenedor-footer{
        flex-direction: column;
        text-align: center;
        .desarrollador{
            text-align: center;
            justify-content: center;
            p{
                padding: 20px;
            }
        }
    }
    
}